@model IEnumerable<ComCity.Models.Projeto>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Projetos</h2>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group mt20">                
                <input name="search" class="form-control" placeholder="Busque por Nome ou Bairro" value="@Context.Request.Query["search"]"/>                
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i> </button>
                </span>
            </div>
        </form>
    </div>
</div>

<hr/>

<div class="row">
    @foreach(var projeto in Model)  
    {
        <div class="col-md-3">
             <a asp-action="ListarEnquetes" asp-controller="Home" asp-route-id="@projeto.Id">         

            <div class="card">    
                <img src="@projeto.UrlImagem" alt="@projeto.Nome" class="imagem-painel">
                <div class="container">
                    <h4>
                        <strong> @projeto.Nome </strong> 
                    </h4> 
                    <p> Bairro @projeto.Bairro </p>
                </div>
            </div>
            </a>
        </div>

    }
</div>