@model ComCity.Models.Projeto

@{
    ViewData["Title"] = "Detalhes";
}

<h4>Projeto</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrevisaoDeInicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrevisaoDeInicio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrevisaoDeConclusao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrevisaoDeConclusao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CEP)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CEP)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rua)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rua)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Bairro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Situacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Situacao)
            </dd>
        </dl>

        <img style="width:400px;" src="@Model.UrlImagem">
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Enquetes</legend>

            @foreach (var item in Model.Enquetes)
            {
                <p>
                    @item.Descricao
                    </p>
                <p>                        
                    <a class="btn btn-primary" asp-action="Sim" asp-controller="Feedbacks" asp-route-EnqueteId="@item.Id"> Sim </a>
                    <a class="btn btn-danger" asp-action="Nao" asp-controller="Feedbacks" asp-route-EnqueteId="@item.Id"> Não </a>
                </p>

            }

        </fieldset>
    </div>
</div>

<div>
    <a asp-action="Index">De volta a lista</a>
</div>
